body{
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    max-width: 1400px;
    margin: auto;
}

*{
    box-sizing: border-box;
}

@keyframes loading{
    0%{
        transform: rotate(0turn);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: rotate(1turn);
        opacity: 0;
    }
}

@keyframes charged-load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes completed{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes appearance{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    25%{
        opacity: 0.25;
        transform: translateY(7px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(4px);
    }
    75%{
        opacity: 0.75;
        transform: translateY(2px);
    }
    100%{
        opacity: 1;
    }
}
