@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header i {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 1rem;
}
header .logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0;
  line-height: 50px;
  font-size: 1.4rem;
}

footer {
  background-color: #5f4b4b;
  color: #FFFFFF;
  padding: 10px 20px;
}
footer .logo {
  font-family: "Shrikhand", cursive;
  font-size: 0.9rem;
  margin: 10px 0px;
}
footer p {
  margin: 10px 0px;
  line-height: 20px;
  font-size: 0.8rem;
  font-weight: 100;
}
footer p i {
  margin-right: 10px;
}
footer p .fa-handshake-angle {
  font-size: 0.6rem;
}
footer p a {
  text-decoration: none;
  color: #FFFFFF;
}

.location {
  text-align: center;
  margin: 0;
  height: 35px;
  background-color: #E5DEDE;
  line-height: 35px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #5f4b4b;
  box-shadow: inset 0px 6px 5px -6px #5f4b4b;
}
.location i {
  color: #5f4b4b;
  margin-right: 7px;
  font-size: 0.8rem;
}

.discovery {
  align-items: center;
  background-color: #f5f2f2;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discovery .discovery_heading {
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
  margin: 5px 30px;
}
.discovery .discovery_paragraph {
  text-align: center;
  margin: 5px 25px;
  font-size: 0.8rem;
  font-weight: 100;
}
.discovery .discovery_btn {
  padding: 5px 10px;
  height: 30px;
  background-color: #DF6FED;
  border-radius: 15px;
  border: none;
  font-size: 0.6rem;
  box-shadow: 4px 4px 10px -5px #5f4b4b;
  width: 130px;
  margin: 5px 0px;
}
.discovery .discovery_btn a {
  text-decoration: none;
  color: #FFFFFF;
}

.functioning {
  padding: 30px 20px;
}
.functioning .functioning_heading {
  font-size: 1.1rem;
  font-weight: 900;
  margin: 10px 0px;
}
.functioning ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.functioning ul li {
  list-style-type: none;
  padding: 17px;
  margin: 7px 0px;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #f5f2f2;
  box-shadow: 4px 4px 10px -5px #5f4b4b;
  position: relative;
}
.functioning ul li .circle {
  color: #9356DC;
  font-size: 1.2rem;
  position: absolute;
  left: -10px;
  top: 15px;
}
.functioning ul li .number {
  color: #FFFFFF;
  font-size: 0.5rem;
  position: absolute;
  left: -2.5px;
  top: 21px;
}
.functioning ul li .icon {
  margin: 0px 10px;
  color: #7c6262;
  font-size: 0.9rem;
}

.restaurant-menu {
  padding: 30px 20px;
  background-color: #f5f2f2;
}
.restaurant-menu .restaurant-menu_heading {
  font-size: 1.1rem;
  font-weight: 900;
  margin: 10px 0px;
}
.restaurant-menu .restaurant-menu_content {
  display: flex;
  flex-direction: column;
}
.restaurant-menu .restaurant-menu_content article {
  margin: 10px 0px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px -5px #5f4b4b;
  position: relative;
}
.restaurant-menu .restaurant-menu_content article a {
  text-decoration: none;
  color: #000000;
}
.restaurant-menu .restaurant-menu_content article a img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurant-menu .restaurant-menu_content article a span {
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 70px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 0.8rem;
  font-weight: 100;
  background-color: #99E2D0;
  color: #278870;
}
.restaurant-menu .restaurant-menu_content article a h3 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 5px 10px;
}
.restaurant-menu .restaurant-menu_content article a p {
  font-size: 0.8rem;
  font-weight: 100;
  margin: 5px 10px 10px 10px;
}
.restaurant-menu .restaurant-menu_content article a i {
  color: #5f4b4b;
  position: absolute;
  right: 20px;
  top: 175px;
  font-size: 1.1rem;
}/*# sourceMappingURL=style.css.map */