.location{
    text-align: center;
    margin: 0;
    height: 35px;
    background-color: $main-color;
    line-height: 35px;
    @include medium-typography;
    color: $dark-main-color;
    box-shadow: inset 0px 6px 5px -6px $dark-main-color;
    i{
        color: $dark-main-color;
        margin-right: 7px;
        font-size: 0.8rem;
    }
}

.discovery{
    align-items: center;
    background-color: $light-main-color;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .discovery_heading{
        @include large-typography;
        text-align: center;
        margin: 5px 30px;
    }
    .discovery_paragraph{
        text-align: center;
        margin : 5px 25px;
        @include light-typography;
    }
    .discovery_btn{
        @include btn;
        @include shadow;
        width: 130px;
        margin: 5px 0px;
        a{
            @include btn-a;
        }

    }
}
