.location{
    text-align: center;
    margin: 0;
    height: 35px;
    background-color: $main-color;
    line-height: 35px;
    @include medium-typography;
    color: $dark-main-color;
    box-shadow: inset 0px 6px 5px -6px $dark-main-color;
    i{
        color: $dark-main-color;
        margin-right: 7px;
        font-size: 0.8rem;
    }
}

.discovery{
    align-items: center;
    background-color: $light-main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    .discovery_heading{
        @include large-typography;
        margin: 0px 30px;
        text-align: center;
    }
    .discovery_paragraph{
        @include light-typography;
        margin: 0;
        text-align: center;
    }
    .discovery_btn{
        @include btn;
        @include shadow;
        a{
            @include btn-a;
        }
    }
}

.functioning{
    padding: 35px 20px;
    .functioning_heading{
        @include large-typography;
        margin: 0px 0px 20px 0px;
        @include tablet-only{
            text-align: center;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 13px;
        @include tablet-only{
            align-items: center;
            gap: 20px;
        }
        li{
            list-style-type: none;
            padding: 17px;
            border-radius: 15px;
            @include medium-typography;
            background-color: $light-main-color;
            @include shadow;
            position: relative;
            @include tablet-only{
                width: 50%;
                text-align: center;
            }
            @include desktop-only{
                width: 60%;
            }
            .circle{
                color: $color-primary;
                font-size: 1.2rem;
                position: absolute;
                left: -10px;
                top: 15px;
            }
            .number{
                color: #FFFFFF;
                font-size: 0.5rem;
                position: absolute;
                left: -2.5px;
                top: 21px;
            }
            .icon{
                margin: 0px 10px;
                color: lighten($dark-main-color,10%);
                font-size: 0.9rem;
                @include tablet-only{
                    margin: 0px 3px 0px 0px;
                }
            }
        }
    }   
}

.restaurant-menu{
    padding: 35px 20px;
    background-color: $light-main-color;
    .restaurant-menu_heading{
        @include large-typography;
        margin: 0px 0px 20px 0px;
    }
    .restaurant-menu_content{
        display: flex;
        flex-direction: column;
        gap: 13px;
        @include tablet-only{
            flex-wrap: wrap;
            gap: 20px;
            flex-direction: row;
        }
        article{
            border-radius: 15px;
            @include shadow;
            position: relative;
            @include tablet-only{
                flex: 1 1 40%;
            }
            @include desktop-only{
                flex: 1 1 20%;
            }
            a{
                text-decoration: none;
                color: #000000;
                img{
                    width: 100%;
                    height: 160px;
                    object-fit: cover;
                    border-radius: 15px 15px 0px 0px;
                }
                span{
                    display: block;
                    position: absolute;
                    right: 20px;
                    top: 15px;
                    width: 70px;
                    text-align: center;
                    height: 25px;
                    line-height: 25px;
                    @include light-typography;
                    background-color: $color-tertiary;
                    color: darken($color-tertiary,40%);
                }
                h3{
                    @include medium-typography;
                    margin: 5px 10px;
                }
                p{
                    @include light-typography;
                    margin: 5px 10px 10px 10px;
                }
                i{
                    color: $dark-main-color;
                    position: absolute;
                    right: 20px;
                    top: 175px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
