.menu{
    background-color: $light-main-color;
    .restaurant-picture{
        width: 100%;
        height: 250px;
        object-fit: cover;
        @include tablet-only{
            height: 450px;
        }
    }
    .card{
        border-radius: 20px 20px 0px 0px;
        background-color: $light-main-color;
        position: relative;
        top: -40px;
        .card_heading{
            padding: 30px 15px 0px 15px;
            margin: 0;
            @include logo-font-family;
            font-size:1.4rem;
            position: relative;
            @include tablet-only{
                text-align: center;
                padding-bottom: 20px;
            }
            i{
                color: $dark-main-color;
                position: absolute;
                right: 33px;
                top: 35px;
            }
            .fa-solid{
                background: linear-gradient(177deg,$color-primary,$color-secondary);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transform: scale(0);
            }
            .fa-regular{
                &:active{
                    & + .fa-solid{
                        animation: completed 1s ease both;
                    }
                }
            }
            .fa-regular{
                &:hover{
                    & + .fa-solid{
                        animation: completed 1s ease both;
                    }
                }
            }
        }
        .card_content{
            h3{
                margin: 30px 15px 0px 15px;
                font-weight: 200;
                font-size: 0.9rem;
                @include tablet-only{
                    text-align: center;
                }
                &::after{
                    content: "";
                    display: block;
                    width: 35px;
                    height: 3px;
                    margin: 5px 0px 12px 0px;
                    background-color: $color-tertiary;
                    @include tablet-only{
                        margin: auto;
                        margin-top: 6px;
                        margin-bottom: 10px;
                    }
                }  
            } 
            ul{
                display: flex;
                flex-direction: column;
                padding: 0px 15px;
                margin: 0;
                gap: 13px;
                @include tablet-only{
                    align-items: center;
                }
                .card_content_dish{
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    list-style-type: none;
                    border-radius: 15px;
                    background-color: #FFFFFF;
                    cursor: pointer;
                    @include shadow;
                    @include tablet-only{
                        width: 70%;
                    }
                    @include desktop-only{
                        width: 60%;
                    }
                    &:nth-child(1){
                        animation: appearance 0.4s 0.1s cubic-bezier(.69,.67,.82,.81) both;
                    }
                    &:nth-child(2){
                        animation: appearance 0.4s 0.3s cubic-bezier(.69,.67,.82,.81) both;
                    }
                    &:nth-child(3){
                        animation: appearance 0.4s 0.5s cubic-bezier(.69,.67,.82,.81) both;
                    }
                    &:nth-child(4){
                        animation: appearance 0.4s 0.7s cubic-bezier(.69,.67,.82,.81) both;
                    }
                    .card_content_dish_entitled{
                        display: flex;
                        flex-direction: column;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        h4{
                            @include medium-typography;
                            margin: 10px 10px 4px 10px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        p{
                            @include light-typography;
                            margin: 4px 10px 10px 10px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                    .card_content_dish_price{
                        @include medium-typography;
                        margin: 35px 18px 7px 18px;
                        transform: translateX(0);
                        transition: all 0.5s;
                    }
                    &:active{
                        & > .card_content_dish_price{
                            transform: translateX(-50px);
                            margin-left:50px;
                        }
                    }
                    &:hover{
                        & > .card_content_dish_price{
                            transform: translateX(-50px);
                            margin-left:50px;
                        }
                    }
                    .card_content_dish--select{
                        width: 50px;
                        height: 58px;
                        border-radius: 0px 15px 15px 0px;
                        background-color: #99E2D0;
                        position: absolute;
                        z-index: -1;
                        right: 0px;
                        transform: translateX(calc(100% + 5px));
                        transition: transform 0.5s ease;
                    }
                    &:active{
                        & > .card_content_dish--select{
                            transform: translateX(0);
                        }
                    }
                    &:hover{
                        & > .card_content_dish--select{
                            transform: translateX(0);
                        }
                    }
                    i{
                        color: #FFFFFF;
                        margin: 21px 17px;
                        position: absolute;
                        right: 0px;
                        transform: translateX(calc(100% + 25px)) rotate(0turn);
                        transition: transform 0.5s ease;
                    }
                    &:active{
                        & > i{
                            transform: translateX(0) rotate(1turn);
                        }
                    }
                    &:hover{
                        & > i{
                            transform: translateX(0) rotate(1turn);
                        }
                    }
                }
            }
        }
        .card_btn{
            @include btn;
            @include shadow;
            width: 150px;
            text-align: center;
            margin: auto;
            margin-top: 35px;
            &:hover{
                filter: brightness(1.2);
                box-shadow: 4px 4px 10px -5px darken($dark-main-color,60%);
                transition: all 0.3s ease-in;
            }
            a{
                @include btn-a;
            }
        }
    }
}