footer{
    background-color: darken($dark-main-color,18%);
    color: #FFFFFF;
    padding: 10px 20px;
    @include tablet-only{
        text-align: center;
    }
    .logo{
        @include logo-font-family;
        font-size: 0.9rem;
        margin: 10px 0px 15px 0px;
    }
    p{
        margin: 10px 0px;
        line-height: 23px;
        @include light-typography;
        i{
            margin-right: 10px;
        }
        .fa-handshake-angle{
            font-size: 0.6rem;
        }
        a{
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}