header{
    i{
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 1rem; 
    }
    .logo{
    font-family: "Shrikhand", cursive;
    font-weight: bold;
    text-align: center;
    margin: 0;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    }
}